@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#app {
  background: linear-gradient(
    107.56deg,
    #6d4ab7 0%,
    #473688 25%,
    #6d4ab7 50%,
    #4f29a0 75%,
    #6d4ab7 100%
  );
}
